body {
  background-color: #333;
}

.collectable {
  display: inline-block;
  width: 30px;
  height: 75px;
  background-color: darkorange;
  border-top: 5px dashed darkgreen;
  position: absolute;
  top: 50%;
  left: 50%;
}
