body {
  background-color: #333;
}

.blocking {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: darkgreen;
  box-shadow: 0 21px 0 -10px saddlebrown;
  top: 44%;
  left: 29%;
  position: absolute;
}
